.form_section fieldset {
  border-radius: 10px;
  width: 300px;
}

input[type="text"], input[type="email"] {
  width: 250px;
}

.name, .userid, .useremail, .phone, .psw, .psw_check {
  font-size: 16px;
}

.product_type {
  text-align: center;
}

.product_amount {
  text-align: center;
}